apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fastapi-gists-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/shiv-sid/fastapi-gists-app.git
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
