apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-gists-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-gists-app
  template:
    metadata:
      labels:
        app: fastapi-gists-app
    spec:
      containers:
        - name: fastapi-gists-container
          image: shivsid/fastapi-gists-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
