apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fastapi-gists-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  ingressClassName: nginx
  rules:
    - host: fastapi.gists.local
      http:
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: fastapi-gists-service
                port:
                  number: 80
